WEB_MONITOR_BASE_URL=http://82.156.83.38:31010
WEB_MONITOR_AUTHORIZATION=
WEB_MONITOR_COOKIE=
WEB_MONITOR_TIMEOUT_SECONDS=20
WEB_MONITOR_VERIFY_SSL=true
WEB_MONITOR_ENABLE_CURL_FALLBACK=false
WEB_MONITOR_EXTRA_HEADERS={}
